logs/
*.log
__pycache__/
*.pyc
.DS_Store
.sfdx/
force-app/
config/
.husky/
.prettierrc
.prettierignore
.forceignore
eslint.config.js
jest.config.js
package.json
package-lock.json
sfdx-project.json
README.md
